{% extends "layout.html" %}


{% block head %}
    <link href="/static/highlight.css" media="screen" rel="stylesheet" type="text/css" />
    {{ post.head|safe }}
{% endblock %}

{% block footer %}
    {{ post.footer|safe }}
{% endblock %}

{% block header %}
<div id="header">
    <p>From the <a href="/journal">Journals</a> of <a href="/">Tarn Barford</a></p>
    <h1>
        {{ post.title }}
    </h1>
    <p>
    {{ post['date'].strftime('%h %d, %Y') }}
    </p>
</div>
{% endblock %}

{% block content %}
<div id="post_content">
    {{ post.html|safe }}
</div>
<div id="comments">
    {% if comments %}
    <h3>Comments</h3>
    <ul>
        {% for comment in comments %}
        <li>
            {% if edit_comment and edit_comment.id == comment.id %}
                {% include "blog/comment_form.html" %}
            {% else %}
                {% include "blog/comment.html" %}
            {% endif %}
        </li>
        {% else %}
        <p>There are no comments</p>
        {% endfor %}
    </ul>
    {% endif %}
    {% if g.user and form and not edit_comment %}
        <h3>Add comment</h3>
        {% include "blog/comment_form.html" %}
    {% else %}
        {% if g.user %}
        <a href="/journal/{{ post["slug"] }}#edit">Comment</a>
        {% else %}
        <a href="{{ url_for('authentication.index', next=url_for('blog.post_view', slug=post.slug)) }}">Comment</a>
        {% endif %}


    {% endif %}
</div>
{% endblock %}
