<!DOCTYPE html>
<html>
    <head>
        <title>Tarn Barford</title>

        <link href="/static/style.css" media="screen" rel="stylesheet" type="text/css" />
        <link rel="alternate" type="application/atom+xml" title="Journals of Tarn Barford" href="{{ url_for('blog.atom') }}" />

        {% block head %}
        {% endblock %}

    </head>
    <body>
        <div id="container">


            <div id="header">
                {% block header %}
                    <p>
                    The <a href="/journal">Journal</a> of</p>
                    <h1>
                        Tarn Barford
                    </h1>
                    <p>
                    </p>
                {% endblock %}
                {% block user %}
                    {% if g.user %}
                    <a class="auth_link" href="{{ url_for('authentication.index') }}">signed in</a>
                    {% endif %}
                {% endblock %}

                {% block flash %} 
                    <div id="messages" class="messages">
                {% if get_flashed_messages() %}
                        {% for message in get_flashed_messages() %}
                        <p class=message>{{ message }}</p>
                        {% endfor %}
                {% endif %}
                    </div>
                {% endblock %}
            </div>

            {% block content %}
            {% endblock %}

        </div>
        <div id="footer">
            <p>&nbsp;</p>
            <p>Questions, comments, suggestions? Email me, <a href="mailto:tarn@tarnbarford.net">tarn@tarnbarford.net</a> (<a href="/static/pgp.txt">public key</a>)</p>  
            <p>&nbsp;</p>
            <p>All original content is licensed under the cc-wiki license.</p>
        </div>
        {% block footer %}
        {% endblock %}
    </body>
</html>
